.sidebar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar-is-mobile .sidebar-toolbar {
  position: fixed;
  z-index: 2;
}

h1.sidebar-app-name {
  margin-left: 8px;
}

.sidebar-sidenav-container {
  flex: 1;
}

.sidebar-is-mobile .sidebar-sidenav-container {
  flex: 1 0 auto;
}

.sidebar-spacer {
  flex: 1 1 auto;
}

.sidebar-sidenav-content {
  padding: 48px;
}
